@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: url(assets/images/bg_forget_password.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    margin: auto;
    align-items: center;
    padding: 25px;
}

.navbar img {
    width: 165px;
}

.navbar a {
    color: red;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

section {
    max-width: 465px;
    margin: 0 auto 12%;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

form {
    width: 85%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #333333;
}

form h2 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 30px;
}

form .radio {
    transform: scale(1.8);
    margin: 0px 12px;
    margin-left: 7%;
}



.change-able {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.change-able input {
    padding: 10px 12px;
    font-size: 16px;
    outline: none;
    border: 0.5px solid black;
    border-radius: 4px;
    color: #333333;
}

.change-able button {
    padding: 14px 12px;
    font-size: 16px;
    background-color: #017EFA;
    color: white;
    border: none;
    border-radius: 2px;
}

.change-able button:hover {
    background-color: #017cf7d9;
}

.border {
    border: 1px solid greenyellow;
}

.change-able2 {
    display: none;
    flex-direction: column;
    gap: 22px;

}

.change-able2 .input-box {
    display: flex;
    height: 46px;
    width: 350px;
    margin: auto;
}

.change-able2 .input-box .code-box {
    display: flex;
    width: 35%;
    border: 1px solid black;
    
}

.change-able2 .input-box input {
    width: 100%;
    font-size: 21px;
    padding-left: 30px;
    outline: none;
}

.change-able2 .input-box .code-box .image-stack {
    width: 40%;
    position: relative;
    background-color: white;
}

.change-able2 .input-box .code-box .image-stack img {
    width: 28px;
    position:absolute;
    top: 25%;
    left: 10%;
    
}

.change-able2 .input-box .code-box .country-code {
    width: 60%;
    border: none;
    outline: none;
}

.change-able2 button {
    padding: 14px 12px;
    font-size: 16px;
    background-color: #017EFA;
    color: white;
    border: none;
    border-radius: 2px;
    width: 350px;
    margin: auto;
}

.change-able2 button:hover {
    background-color: #017cf7d9;
}

.remember-link {
    color: #0080FF;
    text-decoration: none;
    margin: 18px 0px;
}

.information {
    color: white;
    max-width: 465px;
    margin: 12px auto;
    color: #999999;
}

.information p a {
    color: #999999;
}

footer {
    color: #999999;
    ;
    background-color: #010101;
    padding: 2% 0;
}

footer p {
    margin: 24px 9.3%;

}

footer .service-list {
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #999999;
}

footer a:hover {
    text-decoration: underline;
}

.language {
    display: flex;
    justify-content: space-around;
    max-width: 100px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 25px 9.3%;
}

.language img {
    width: 12px;
    filter: invert(1);
}

.language select {
    outline: none;
    border: none;
    color: white;
    background-color: #010101;
}

.language select option {
    font-weight: 200;
}

@media screen and (max-width:740px) {
    .navbar {
        background-color: #FAFAFA;
    }

    section {
        max-width: 100vw;
    }

    footer {
        background-color: #3D3D3D;
    }

    .language select {
        background-color: #3d3d3d;
    }

    body {
        background: #3d3d3d;
    }

    .navbar {
        padding: 12px;
    }

    .navbar img {
        width: 85px;
    }

    .navbar a {
        font-size: 13px;
    }

    form h2 {
        font-size: 28px;
    }

    .information p {
        font-size: 14px;
    }

    footer .service-list {
        grid-template-columns: 1fr 1fr;
    }
}