@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    min-width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    margin: auto;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid rgba(168, 106, 106, 0.158);
}

.navbar img {
    width: 165px;
}

.navbar a {
    color: red;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

section {
    max-width: 465px;
    margin: 20px auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

form {
    width: 85%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #333333;
}

form p {
    font-size: 18px;
}

form h2 {
    font-size: 35px;
}

form input {

    height: 45px;
    padding: 10px;
    font-size: 18px;
}

form a{
    text-decoration: none;
    color: #0071EB;
    font-size: 19px;
}

form button {
   
    height: 55px;
    font-size: 18px;
    background-color: #F6121D;
    border-radius: 4px;
    border: none;
    color: white;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color:#969696;
    padding: 2% 0;
}

footer p {
    margin: 24px 9.3%;

}

footer .service-list {
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #999999;
}

footer a:hover {
    text-decoration: underline;
}

.language {
    display: flex;
    justify-content: space-around;
    max-width: 100px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 25px 9.3%;
    border: 1px solid black;
}

.language img {
    width: 12px;
}

.language select {
    outline: none;
    border: none;
}

.language select option {
    font-weight: 200;
}

@media screen and (max-width:740px) {
    .navbar {
        background-color: #FAFAFA;
    }

    section {
        max-width: 100vw;
    }

    footer {
        background-color: #fcf7f7;

    }

    .navbar {
        padding: 12px;
    }

    .navbar img {
        width: 85px;
    }

    .navbar a {
        font-size: 13px;
    }

    form h2 {
        font-size: 28px;
    }

    .information p {
        font-size: 14px;
    }

    footer .service-list {
        grid-template-columns: 1fr 1fr;
    }
}